html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

p {
  font-family: Roboto;
}

.navbar {
  background: #fff;
  border: 0;
  font-family: Poppins;
}

.navbar-brand {
  font-size: 20px;
  color: #000 !important;
  font-weight: bold;
}

#showcase {
  margin-top: 70px;
}

#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase img {
  width: 90%;
  margin-left: 60px;
}

#showcase .showcase-right {
  margin-top: 90px;
}

#testimonial {
  background: #f1f1f1;
  padding: 50px 0 30px 0;
  text-align: center;
  margin-top: 40px;
}

#testimonial p {
  font-size: 32px;
  font-family: 'Josefin Sans';
  color: #000;
}

#testimonial p.customer {
  font-size: 20px;
  color: #666;
}

#info1 .col-md-6 {
  margin: auto;
}

#info1,
#info2 {
  margin: 60px 0 60px 0;
}

#contact {
  background-image: url(../img/image3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  color: #fff;
  border-top: #333 1px solid;
  border-bottom: #333 1px solid;
}

footer {
  padding: 20px;
  text-align: center;
}
